body {
  width: 100%;
}

#cover {
  width: 100%;
  height: auto;
}

#top {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#bottom {
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
}

h2 {
  font-weight: bold;
  font-variant: small-caps;
}

div.info div.test {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
