figure {
  /* float: left; */
  max-width: 200px;
  padding: 0;
}

img {
  border-radius: 20px;
}

figure.col-md-3 img {
  width: 100%;
  height: 100%;
}

.container-fluid.custom {
  padding-left: 2rem;
  padding-right: 2rem;
}
