.img-fluid.logo {
    max-width: 100%;
    height: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: .5rem;
}

#tinyOwl {
  padding: 1rem;
}


.paragraph {
    display: block;
    text-align: center;
    clear: left;
    float: left;
    width: 100%;
    padding: 1rem;
}

.youTube {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    float: right;
}

.container-fluid .carousel-inner {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
