.col-md {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container.custom .col-md-8 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  /* max-width: 850px; */
}

h4 {
  font-weight: bold;
  font-variant: small-caps;
}

.price {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

img{
  border: 1px solid white;
  border-radius: 20px;
}
